# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Ambiente virtual
env/
venv/
ENV/
.venv/
.env/
.envrc
pip-log.txt

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Pytest / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# GitHub Actions
__github_workflows__/

# Outros
*.DS_Store
Thumbs.db
