{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cadastro no Yapper{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Criar sua conta Yapper</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data"> {# IMPORTANTE: enctype para upload de arquivos #}
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success mt-3">Cadastrar</button>
                        </div>
                    </form>
                    <p class="text-center mt-3">
                        Já tem uma conta? <a href="{% url 'login' %}">Faça login</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}